Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -4 -4 1160 842 185 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "D:\svn\nfc\hdl\rtlsim\debussy\nfc.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 8381000.000000
cursor 5485000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name
; visible top row signal index
top 0
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "SYS"
activeDirFile "" "D:\svn\nfc\hdl\rtlsim\debussy\nfc.fsdb"
addSignal -h 15 /nfc_tb/u_nfc/nfc_clk
addSignal -h 15 -holdScope ecc_clk
addSignal -h 15 -holdScope rstb_nfc
addSignal -h 15 -UNSIGNED -HEX -holdScope mif_nfc_reg_addr[8:0]
addSignal -h 15 -holdScope mif_nfc_reg_rd
addSignal -h 15 -holdScope mif_nfc_reg_wr
addSignal -h 15 -UNSIGNED -HEX -holdScope mif_nfc_reg_din[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nfc_mif_reg_dout[7:0]
addGroup "NFIF"
addSignal -h 15 -UNSIGNED -HEX /nfc_tb/u_nfc/u_nfc_if/nf_din[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nf_dout[15:0]
addSignal -h 15 -holdScope nf_dir
addSignal -h 15 -holdScope nf_cle
addSignal -h 15 -holdScope nf_ale
addSignal -h 15 -holdScope nf_web
addSignal -h 15 -holdScope nf_reb
addSignal -h 15 -UNSIGNED -HEX -holdScope t_cnt[2:0]
addSignal -h 15 -holdScope load_dat
addSignal -h 15 -holdScope nfif_rd_rdy
addSignal -h 15 -holdScope nfif_dat_done
addSignal -h 15 -UNSIGNED -HEX /nfc_tb/u_nfc/u_nfc_mif/mif_dat_addr[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mif_spa_addr[13:0]
addSignal -h 15 -holdScope dat_rd
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /nfc_tb/u_nfc/nf_sram_addr[12:0]
addSignal -h 15 -holdScope nf_sram_cen
addSignal -h 15 -UNSIGNED -HEX -holdScope nf_sram_wen[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nf_sram_wr_dat[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nf_sram_rd_dat[15:0]
addGroup "G4"
addGroup "G5"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

